<div class="about-us-container mat-elevation-z3 p-4">
  <div class="text-center">
    <img src="assets/newLogo/eOMIX_logo_long.jpg" alt="Our Logo" class="about-logo" width="400" />
  </div>
  <br>
  <br>
  <div class="about-description mt-4">
    <h2>About Us</h2>
    <p>
      e-OMIX is an research initiative funded by the European Regional Development Fund and by the Walloon Region, as
      part of the WAL-IMAGIN portfolio. e-OMIX is led conjointly by UCLouvain’s LIME and CBIO teams. </p>
  </div>
  <br>
  <br>
  <img src="assets/newLogo/bigLogo.jpg" alt="Our Logo" width="500" />
</div>